.videocard {
  color: white;
  width: 500px;
  height: 400px;
  padding: 20px;
  transition: transform 100ms;
  text-transform: capitalize;
  letter-spacing: 3px;
  font-size: 10px;
}
.videostats {
  display: none;
}
.videocard:hover > .videostats {
  display: inline;
}

.videocard:hover {
  transform: scale(1.09);
}

.videocard > img {
  height: 300px;
  object-fit: contain;
  width: 400px;
}
.videocard > h2 {
  padding-top: 20px;
  font-size: medium;
}
.moviedetails {
  margin-left: 23px;
  margin-right: 200px;
}
